<template>
  <div style="-webkit-app-region: no-drag">
    <a-row style="margin-bottom: 15px">
      <a-col  :span="24">
        <a-card>
          Teste
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>
