<template>
  <a-breadcrumb :routes="routes">
    <template slot="itemRender" slot-scope="{route, params, routes, paths}">
      <span v-if="routes.indexOf(route) === routes.length - 1">
        {{route.name}}
      </span>
      <router-link v-else :to="{name: route.name}">
        {{route.name}}
      </router-link>
    </template>
  </a-breadcrumb>
</template>

<script>
  export default {
    props: {
      routes: {
        type: Array|Object,
        default: () => [{path: '/', name:'Home'}]
      }
    },
  };
</script>
