<template>
  <div>
    <router-view />
    <a-modal
      title="Deseja realmente sair?"
      v-model="modalExit"
      @ok="appQuit"
      okText="Sair"
      okType="danger"
      cancelText="Não"
      cancelType="primary"
    >
      <template slot="footer">
        <a-button
          style="-webkit-app-region: no-drag"
          key="back"
          type="primary"
          @click="modalExit = false"
          >Não</a-button
        >
        <a-button
          style="-webkit-app-region: no-drag"
          key="submit"
          type="danger"
          @click="appQuit"
        >
          Sim
        </a-button>
      </template>
      <p>Está ação finalizara o aplicativo e os backups serão pausados</p>
    </a-modal>
  </div>
</template>
<script>
const log = require('electron-log')
const {
  ipcRenderer,
  remote: { getCurrentWindow },
} = require('electron')

export default {
  name: 'AppBkp',
  data() {
    return {
      modalExit: false,
    }
  },
  methods: {
    appQuit() {
      ipcRenderer.send('force-quit')
    },
  },
  created() {
    //  [App.vue specific] When App.vue is first loaded start the progress bar
    this.$Progress.start()
    //  hook the progress bar to start before we move router-view
    this.$router.beforeEach((to, from, next) => {
      //  does the page we want to go to have a meta.progress object
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress
        // parse meta tags
        this.$Progress.parseMeta(meta)
      }
      //  start the progress bar
      this.$Progress.start()
      //  continue to next page
      next()
    })
    //  hook the progress bar to finish after we've finished moving router-view
    this.$router.afterEach((to, from) => {
      //  finish the progress bar
      this.$Progress.finish()
    })
  },
  mounted() {
    ipcRenderer.on('navigate', (e, routePath) => {
      if (routePath === 'sair') {
        this.modalExit = true
      } else {
        this.$router.push({ name: routePath })
      }
    })
  },
}
</script>
<style>
div.window-icon-bg.inactive {
  display: none !important;
}
</style>
