<template>
  <div id="app">
    <!-- <TitleBar :passedProps="passedProps" style="cursor:pointer!important" /> -->
    <vue-progress-bar></vue-progress-bar>
    <perfect-scrollbar :options="options">
      <a-layout
        :style="{
          minHeight: '100vh',
          maxHeight: '350px',
          backgroundColor: '#d6d6d6',
          '-webkit-app-region': 'drag',
        }"
      >
        <a-layout-content :style="{ padding: '20px 10px 20px 10px' }">
          <router-view />
        </a-layout-content>
      </a-layout>
    </perfect-scrollbar>
  </div>
</template>
<script>
const pack = require('../../package.json')
import { ipcRenderer, remote } from 'electron'
import BreadCrumb from '@/components/Breadcrumb'
import { mapGetters, mapMutations } from 'vuex'

// require("ant-design-vue/dist/antd.less");
require('ant-design-vue/dist/antd.css')

const path = require('path')

export default {
  components: {
    BreadCrumb,
    TitleBar,
  },
  name: 'Dashboard',
  data() {
    return {
      options: {
        wheelSpeed: 0.5,
        suppressScrollX: true,
      },
    }
  },
  methods: {
    setRoute(routeName) {
      this.$router.push({ name: routeName })
    },
    messageReload() {
      const hide = this.$message.loading('Aplicativo será reiniciado em 2s', 0)
      setTimeout(hide, 2000)
    },
  },    
}
</script>
<style lang="less">
.ant-menu-horizontal {
  line-height: 2;
}
[aria-label='maximize'] {
  display: none !important;
  cursor: not-allowed !important;
  -webkit-app-region: no-drag;
  position: relative;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
  transition: background-color 0.25s ease 0s;
  opacity: 0.5;
  box-sizing: content-box;
  width: 46px;
  height: 100%;
  border: none;
  color: rgb(255, 255, 255);
}
.styles_MenuButton__3oRx7 {
  padding-top: 5px !important;
}
.menubar-menu-button {
  cursor: pointer !important;
}
.ant-layout-header {
  background: none !important;
  color: rgb(53, 53, 53);
}
</style>
